@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0;
  font-family: "Exo 2", serif;
}
.nav{
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #5563FF;
  position: fixed;
  color: #fff;
}
.box{
  height: auto;
  width: 100%;
  border: 1px solid #4680ff;
  padding: 5px;
  border-radius: 7px;
}
select,input{
    font-family: "Exo 2", serif;
}
.input{
  height: auto;
  width: 250px;
  margin: 10px;
  border: 2px dotted #000;
  outline: none;
}
.input:focus{
  border: 2px dashed #000;
}
.pd{
  padding: 10px;
}
.btn{
  height: 35px;
  width: 100px;
  cursor: pointer;
  background-color: #4680ff;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 6px;
}
table, tr,th,td{
  width: 100%;
  border-collapse: collapse;
  border: 1px dashed #C4C4C4;
}